<%= form_tag(user_session_path, :class=> 'signin well', :method=>:post) do |f| %>
	<fieldset class="textbox">
		<%= label_tag :user_email, 'Email' %>								
		<%= text_field_tag :user_email, nil, :name=> 'user[email]', :class=>'input-medium' %> 
		<%= label_tag :user_password, 'Password' %>
		<%= password_field_tag :user_password, nil, :name=>'user[password]', :class=>'input-medium' %>
	</fieldset>
	<fieldset class="subchk">
		<label class="remember">
			<input class="boolean optional" 
				type="checkbox" value="1" id="user_remember_me" name="user[remember_me]">
			<span>Remember me</span>
		</label>	
		<%= submit_tag "Log in", :class => "btn btn-large btn-primary" %>
	</fieldset>
<% end %>

