
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
		    <a class="brand" href="#">Sandbox</a>

		    <ul class="nav">

		    </ul>


			  <!-- pull right for signup/login -->
			  <ul class="nav pull-right">
					<% if user_signed_in? %>
						<!-- dropdown account menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          						Hi, <%= current_user.username %>
          						<b class="caret"></b>
    						</a>
							<ul class="dropdown-menu">
								<li><a href="#">Settings</a></li>
								<li><%= link_to 'Log out', destroy_user_session_path, :method=> :delete %></li>
							</ul><!-- dropdown menu -->
						</li><!-- dropdown -->
					<% else %>

						<!-- dropdown log-in  -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          						JS Login Form
          						<b class="caret"></b>
    						</a>
							<ul class="dropdown-menu dropdown-form">
								<li>
									<%= render 'layouts/dropdown_signin' %>

								</li>
							</ul><!-- dropdown menu -->
						</li><!-- dropdown -->
						<li><%= link_to 'Log in', new_user_session_path %></li>
						<li><%= link_to 'Sign up', new_user_registration_path %></li>
						
					<% end %>
				</ul>

		</div>
	</div>
</div>
