<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- navigation -->
	<%= render 'layouts/nav' %>

	<div class="container-fluid">
		<div class="row-fluid">
			<!-- print title here ? -->

			<!-- flash messages -->		
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name %>" id="flash"><%= msg %></div>
			<% end %>
		</div><!-- row -->

		<div class="row-fluid">
			<div class="span12">
				<%= yield %>
			</div>
		</div><!-- row -->

		<hr>
		<footer>
			<p>&copy; Airball Ventures 2012</p>
		</footer>
	</div><!-- container -->
</body>
</html>



