

<script type='text/javascript'>
  $(document).ready(function() {
    	$('.datepicker').datepicker({
			format: "yyyy-mm-dd"
		});
  });
</script>

<h2>Account Settings</h2>
Change your settings

<%= simple_form_for @member do |f| %>

	<%= label_tag 'name'%> <%= @member.name %>
	<%= label_tag 'email'%> <%= @member.user.email %>
	<%= label_tag 'username'%> <%= @member.user.username %>

	<%= f.input :dob, :as=>:string, :input_html => { :class => 'datepicker' } %>
	<%= f.input :sex, :collection => [['M','男'], ['F','女']], :as => :radio_buttons, 
				:item_wrapper_class => 'inline'%>
	<%= f.input :mobile_phone, :as => :tel %>
	<%= f.input :address, :as=> :text %> 
	<%= f.input :city %>

<div class="form-actions">
	<%= f.button :submit, "Sign up" %>
</div>
<% end %>
